<!--<nav class="navbar navbar-expand-lg bg-light">-->
<!--    <div class="navbar" id="navbarNavAltMarkup">-->
<!--        <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-item nav-link text-dark" href="/">Home</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-item nav-link text-dark" href="/brands/add">Add Brand</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-item nav-link text-dark" href="/employees/add">Add Employee</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-item nav-link text-dark" href="/brands/all">All Brands</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-item nav-link text-dark" href="/employees/all">All Employees</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</nav>-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/}">AutoMarket</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" th:href="@{/}">Главная</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/cars}">Автомобили</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/special-offers}">Акции</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/login}">Личный кабинет</a></li>
        </ul>
    </div>
</nav>