<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">

    <div class="container mt-4">

        <!-- Заголовок -->
        <div class="jumbotron">
            <h1 class="display-4">Добро пожаловать в AutoMarket!</h1>
            <p class="lead">Ваш лучший выбор автомобилей по выгодным ценам.</p>
            <hr class="my-4">
        </div>

        <!-- Витрина брендов -->
        <h2>Популярные бренды</h2>
        <div class="row justify-content-center">
            <!-- Карточка бренда -->
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="/pic/Brands/bmw-emblem.jpg" class="card-img-top" alt="Brand Logo">
                    <div class="card-body">
                        <h5 class="card-title">BMW</h5>
                        <a href="#" class="btn btn-primary stretched-link">Перейти к моделям</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="/pic/Brands/audi-emblem.jpg" class="card-img-top" alt="Brand Logo">
                    <div class="card-body">
                        <h5 class="card-title">Audi</h5>
                        <a href="#" class="btn btn-primary stretched-link">Перейти к моделям</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="/pic/Brands/mercedes-benz-emblem.jpg" class="card-img-top" alt="Brand Logo">
                    <div class="card-body">
                        <h5 class="card-title">Mercedes-Benz</h5>
                        <a href="#" class="btn btn-primary stretched-link">Перейти к моделям</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="/pic/Brands/toyota-emblem.jpg" class="card-img-top" alt="Brand Logo">
                    <div class="card-body">
                        <h5 class="card-title">Toyota</h5>
                        <a href="#" class="btn btn-primary stretched-link">Перейти к моделям</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="/pic/Brands/no_image-3840x2160_crop.webp" class="card-img-top" alt="Brand Logo">
                    <div class="card-body">
                        <h5 class="card-title">Omoda</h5>
                        <a href="#" class="btn btn-primary stretched-link">Перейти к моделям</a>
                    </div>
                </div>
            </div>
            <!-- Дополнительные карточки для других брендов -->
        </div>


        <div class="row">
            <th:block th:each="topModel : ${topThreeModel}">
                <div class="col-4">
                    <div class="card mb-3 text-center" style="width: 600px; height: 280px ; margin: auto ">
                        <div class="row g-0">
                            <div class="col-md-6">
                                <img th:src="${topModel?.imageUrl}" style="height: 279px" class="img-fluid rounded-start">
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${topModel?.name}"></h5>
                                    <p th:text="'Категория авто: ' + ${topModel?.category}"></p>
                                    <p th:text="'Дата начала: ' + ${topModel?.startYear}" ></p>
                                    <p th:text="'Дата конца: ' + ${topModel?.endYear}" ></p>
                                    <p th:text="'Дата создания: ' + ${topModel?.created}" ></p>
                                    <p th:text="'Бренд: ' + ${topModel?.brands.name}" ></p>
                                    <p><a  style="
                                                        width: 230px;
                                                        height: 45px;
                                                        padding: 3px;
                                                        text-align: center;
                                                        border: 1px solid black;
                                                        border-radius: 10px;
                                                        color: black;
                                                        text-decoration: none;"
                                           th:href="@{/Models/vive/Models-details/{name}/{startYear}/{endYear}(name=${topModel.name}, startYear=${topModel.startYear}, endYear=${topModel.endYear})}" >Подробнее</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>





        <!-- Спецпредложения -->
        <h2>Спецпредложения</h2>
        <div class="row">
            <!-- Пример карточки для спецпредложения -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Супер Скидка</h5>
                        <p class="card-text">Описание спецпредложения.</p>
                        <a href="#" class="btn btn-primary">Подробнее</a>
                    </div>
                </div>
            </div>
            <!-- Дополнительные карточки для других спецпредложений -->
        </div>

        <!-- Карусель с объявлениями -->
<!--        <div id="carouselExample" class="carousel slide" data-ride="carousel">-->
<!--            <div class="carousel-inner">-->
<!--                &lt;!&ndash; Используйте Thymeleaf для отображения объявлений из базы данных &ndash;&gt;-->
<!--                <div th:each="ad, iterStat : ${advertisements}"-->
<!--                     th:classappend="${iterStat.index == 0} ? 'carousel-item active' : 'carousel-item'">-->
<!--                    <img th:src="${ad.car.imageUrl}" class="d-block w-100" alt="Car Image">-->
<!--                    <div class="carousel-caption d-none d-md-block">-->
<!--                        <h5 th:text="${ad.car.model}"></h5>-->
<!--                        <p th:text="'Цена: ' + ${ad.car.price}"></p>-->
<!--                        <a th:href="@{'/car/' + ${ad.car.id}}" class="btn btn-primary">Подробнее</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">-->
<!--                <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--                <span class="sr-only">Previous</span>-->
<!--            </a>-->
<!--            <a class="carousel-control-next" href="#carouselExample" role="button" data-slide="next">-->
<!--                <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--                <span class="sr-only">Next</span>-->
<!--            </a>-->
<!--        </div>-->

        <!-- Каталог автомобилей -->
        <h2>Каталог автомобилей</h2>
        <div class="row">
            <!-- Пример карточки для автомобиля -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Марка и модель</h5>
                        <p class="card-text">Описание автомобиля.</p>
                        <a href="#" class="btn btn-primary">Подробнее</a>
                    </div>
                </div>
            </div>
            <!-- Дополнительные карточки для других автомобилей -->
        </div>

    </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>