<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">

    <div class="container mt-4">

        <div class="jumbotron">
            <h1 class="display-4">Добро пожаловать в AutoMarket!</h1>
            <p class="lead">Ваш лучший выбор автомобилей по выгодным ценам.</p>
            <hr class="my-4">
        </div>

        <h2>Популярные бренды</h2>
        <div class="row justify-content-center">
            <!-- Карточка бренда -->
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="https://www.freepnglogos.com/uploads/bmw-logo-14.png" class="card-img-top" alt="Brand Logo">
                    <div class="card-body">
                        <h5 class="card-title">BMW</h5>
                        <a href="#" class="btn btn-primary stretched-link">Перейти к моделям</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="https://azia-ek.ru/media/files/products/inside-placeholder-1473425709-audi-logo-transparent-background-wallpaper-6.jpg.png" class="card-img-top" alt="Brand Logo">
                    <div class="card-body">
                        <h5 class="card-title">Audi</h5>
                        <a href="#" class="btn btn-primary stretched-link">Перейти к моделям</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="https://top-fon.com/uploads/posts/2023-01/1674686488_top-fon-com-p-fon-dlya-prezentatsii-mersedes-161.png" class="card-img-top" alt="Brand Logo">
                    <div class="card-body">
                        <h5 class="card-title">Mercedes-Benz</h5>
                        <a href="#" class="btn btn-primary stretched-link">Перейти к моделям</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="https://legen-auto.ru/wa-data/public/shop/plugins/brand/brand_image/logo02.webp" class="card-img-top" alt="Brand Logo">
                    <div class="card-body">
                        <h5 class="card-title">Toyota</h5>
                        <a href="#" class="btn btn-primary stretched-link">Перейти к моделям</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="https://krasnoyarsk.3d-prime.ru/upload/brands/643f75ae58d36.jpg" class="card-img-top" alt="Brand Logo">
                    <div class="card-body">
                        <h5 class="card-title">Omoda</h5>
                        <a href="#" class="btn btn-primary stretched-link">Перейти к моделям</a>
                    </div>
                </div>
            </div>
        </div>

        <h2>Самые популярные модели</h2>
        <div class="row">
            <th:block th:each="topModel : ${TopThreeModel}">
                <div class="col-4 mb-3">
                    <div class="card h-100">
                        <img th:src="${topModel?.model.imageurl}" class="card-img-top" alt="Car Image">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${topModel?.model.name}"></h5>
                            <p th:if="${topModel?.model.category}" th:text="'Категория авто: ' + ${topModel?.model.category}"></p>
                            <p th:if="${topModel?.model.startyear}" th:text="'Дата начала: ' + ${topModel?.model.startyear}"></p>
                            <p th:if="${topModel?.model.endyear}" th:text="'Дата конца: ' + ${topModel?.model.endyear}"></p>
                            <p th:if="${topModel?.model.created}" th:text="'Дата создания: ' + ${topModel?.model.created}"></p>
                            <p th:if="${topModel?.model.brand.name}" th:text="'Бренд: ' + ${topModel?.model.brand.name}"></p>
                            <p th:if="${topModel?.count}" th:text="'Количество объявлений: ' + ${topModel?.count}"></p>
                            <a class="btn btn-primary" th:href="@{/Models/vive/Models-details/{name}/{startyear}/{endyear}(name=${topModel.model.name}, startYear=${topModel.model.startyear}, endYear=${topModel.model.endyear})}">
                                Подробнее
                            </a>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>

        <h2>Спецпредложения</h2>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Супер Скидка</h5>
                        <p class="card-text">Описание спецпредложения.</p>
                        <a href="#" class="btn btn-primary">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>

        <h2>Каталог автомобилей</h2>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Марка и модель</h5>
                        <p class="card-text">Описание автомобиля.</p>
                        <a href="#" class="btn btn-primary">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>